@media screen and (max-width: 1300px) {
    .arrow-btn {
        &.prev {
            left: 10px;
        }

        &.next {
            right: 10px;
        }
    }

    .form_img {
        img {
            width: 105%;
        }
    }

    .form {
        padding: 60px 20px 60px 60px;
    }
}

@media screen and (max-width: 1200px) {

    .tariff_form {
        padding: 70px 100px;
    }

    .nav_ul {
        &>*+* {
            margin-left: 15px;
        }
    }

    .hero_content {
        width: 80%;
    }

    .ceilings_content-float-text {
        padding: 240px 40px 46px;
    }

    .ceilings_content {
        margin-bottom: -120px;
    }
}

@media screen and (max-width: 1100px) {

    .why_card {
        padding: 30px 35px;
    }

    .ceilings_content {
        margin-bottom: -20px;
    }

    .nav_ul>*+* {
        margin-left: 15px;
    }

    .banner_section {
        padding: 100px 0;
    }

    .banner_section .body_subtitle {
        max-width: 100%;
        white-space: unset;
    }

    .footer_firstline {
        flex-direction: column;
        gap: 40px;
    }

    .footer_contacts {
        margin-left: 0;
    }

    .footer_firstline>*+* {
        margin-left: 0;
    }

    header {
        padding: 10px 0;
    }

    .hero_title {
        font-size: 75px;
        line-height: 77px;
    }
}

@media screen and (max-width: 1024px) {
    .form_img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            position: static;
            width: 100%;
        }
    }

    .form_line {
        flex-direction: column;

        input {
            width: 100%;
            margin: 0;

            &:last-child {
                margin: 0;
            }
        }

    }

    .about_img {
        margin-right: 40px;
    }

    .why_grid {
        column-gap: 15px;

        .why-arrow {
            right: -10px;
        }
    }

    .why_card {
        padding: 20px 25px;
    }

    header.scrolled .header_nav-right-line.top {
        height: unset;
        margin: unset;
        overflow: unset;
    }

    .reviews_section .slick-list {
        margin: 0 -10px;
    }

    .reviews_section .slick-slide {
        margin: 0 10px;
    }

    .form_section .form {
        width: 80%;
    }

    .ceilings_content {
        flex-direction: column-reverse;
    }

    .ceilings_content-text-box {
        margin: 0 0 30px 0;
    }

    .ceilings_content-float-box,
    .ceilings_content-text-box {
        width: 100%;
    }

    .ceilings_content-float-text {
        padding-top: 360px;
    }

    .ceilings_content-float-box img {
        margin-bottom: -300px;
    }

    .nav_ul {
        display: none;
    }

    .header_nav-right-line.top {
        margin-bottom: 0;
    }

    .menu-btn {
        display: flex;
    }

    .header_nav-right-line {
        width: unset;
    }

    .body_title.underlined {
        font-size: 36px;
        padding-bottom: 12px;
    }

    .body_title {
        font-size: 36px;
    }

    p {
        font-size: 18px;
        line-height: 26px;
    }
}

@media screen and (max-width: 924px) {
    .tariff_form {
        width: 50%;
        padding: 35px 50px;

        .form_line {
            width: 100%;
            margin-bottom: 0;
        }
    }

    .arrow-btn {
        display: none;
    }

    .certs_content {
        margin-left: 40px;
    }


    .advs_img {
        margin-right: 20px;
    }

    .advs_section.bottom .advs_img {
        margin: 0 0 0 20px;
    }

    .ceilings_content-float-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .ceilings_content-float-box img {
        z-index: 1;
    }

    .grid_6 {
        row-gap: 30px;
    }

    .grid_3 {
        grid-template-columns: auto auto;
    }

    .grid_4,
    .grid_6 {
        grid-template-columns: auto auto auto;
    }

    .hero_content {
        width: 100%;
        justify-content: center;
    }

    .hero_title {
        font-size: 65px;
        line-height: 67px;
    }

    #occupation {
        width: 100%;
    }

    .form_group-line {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 864px) {
    .banner_section .body_subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 824px) {
    .news-slide-content {
        padding: 15px;
    }

    .about_img {
        margin-right: 20px;
    }

    .why_grid {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .why_card {
        padding: 40px 45px;

        &:first-child {
            border-radius: 20px 20px 0 0;
        }

        &:last-child {
            border-radius: 0 0 20px 20px;
        }

        &:nth-child(even) {}

        &:nth-child(odd) {}
    }

    .why-arrow {
        position: absolute;
        right: unset !important;
        left: 50%;
        top: unset;
        bottom: -21px;
        transform: translateX(-50%) rotate(90deg);
        z-index: 10;
    }

    .header_nav-contact-link {
        &.first {
            display: none;
        }
    }

    .footer_contacts {
        flex-direction: column;
        gap: 20px;
    }

    .cta_wrapper {
        flex-direction: column;
    }

    .cta_content {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .tariff_form {
        margin-top: 35px;
        width: 100%;
    }

    .tariff-page {
        .about_img {
            width: 100%;
            margin: 0;
        }
    }

    .certs-dots-mobile {
        margin-top: 64px;
    }

    .certs-slider-wrap {
        width: 100%;
        margin-bottom: 35px;
    }

    .scroll-link {
        right: 10%;
    }

    .certs-dots .slick-dots {
        justify-content: center !important;
    }

    .certs_wrapper.wrapper {
        flex-direction: column-reverse;
    }

    .certs_content {
        margin-left: 0;
    }

    .certs_slider,
    .certs_content {
        width: 100%;
    }

    .form_img {
        display: none;
    }

    .wrapper {
        flex-direction: column;
    }

    .services-page {
        .about_section:nth-child(even) .about_wrapper.wrapper {
            flex-direction: column;
        }
    }

    .about_img {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }

    .advs_img {
        width: 100%;
        margin: 0 0 35px 0;
    }

    .form_section .form {
        width: 100%;
        max-width: 100%;
        padding: 60px;
    }

    .form_line {
        width: 100%;
    }

    #name-input {
        width: 50%;
    }

    .ceilings_content-float-box img {
        max-width: 80%;
    }

    .hero_content-subtitle {
        font-size: 26px;
    }

    .hero_content-title {
        font-size: 60px;
        line-height: 64px;
    }

    .header_nav-contact-link:first-child {
        display: none;
    }

    .contacts_content-links-box {
        margin: 0;
        align-items: center;
    }

    .contacts_content {
        width: 100%;
    }

    .contacts_img-box {
        width: 100%;
    }

    .contacts_img-box img {
        width: 100%;
    }

    .contacts_content-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts_content-wa-box {
        width: 50%;
        margin: 30px 0;
    }

    .qr {
        width: 100%;
    }

    .about_content-title-box img {
        width: 60px;
    }

    .about_section .body_title {
        margin-top: 20px;
    }

    .form_group {
        padding: 30px 15px;
    }

    .form-btn,
    .submit-check-box {
        margin-left: 15px;
    }

    .form-section .body_title {
        margin-bottom: 10px;
    }

    section {
        margin-bottom: 60px;
    }

    .advs_section {
        padding: 60px 0;
    }

    .nav_ul {
        display: none;
    }

    header {
        height: 90px;
    }

    header.scrolled {
        height: 60px;
    }

    .wrapper {
        flex-direction: column;
    }

    .advs_section.bottom .advs_wrapper {
        flex-direction: column;
    }

    .advs_section.bottom .advs_wrapper img {
        margin: 0 0 35px 0;
    }

    .advs_section {
        padding: 0;
    }

    .about_content {
        width: 100%;
    }

    .about_content-img-box {
        margin: 50px 0 0 0;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {

    .hero_content p,
    .hero_title {
        text-align: center
    }

    .hero_title::after {
        width: 100%;
    }

    .form_group-title {
        font-size: 26px;
    }

    .footer_nav-box {
        display: none;
    }

    .footer_contacts-item-text {
        white-space: unset;
    }

    /*     .hero_section {
    background: url("http://tria.abc-task.kz/storage/app/media/hero_bg.png"), rgba(48, 48, 48, 1);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
}

@media screen and (max-width: 650px) {

    .certs_wrapper {
        flex-direction: column-reverse;
    }

    .header_nav-contact-link {
        &.third {
            display: none;
        }
    }

    .ceilings_content-float-box img {
        margin-bottom: -300px;
    }

    .contacts_content-wa-box {
        width: 60%;
    }

    .banner_section hr {
        width: 100px;
        margin-right: 20px;
    }

    .submit-check-box {
        margin-left: 0;
    }

    .hero_title {
        font-size: 45px;
        line-height: 47px;
        margin-bottom: 46px;
    }

    .hero_title::after {
        bottom: -23px;

    }

    .body_title,
    .programs-section .body_title {
        font-size: 41px;
        margin-bottom: 28px;
    }

    .hero_section {
        height: 95vh;
    }

    .page-hero {
        height: 40vh;
    }

    .hero-video {
        height: 95vh;
    }

    .hero_content p {
        font-size: 18px;
        line-height: 26px;
    }

    .about_content-icons {
        flex-direction: column;
        align-items: flex-start;
    }

    .header_nav-phone {
        display: none
    }

    .footer_abcdesign {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .footer_abcdesign p {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .about-section {
        background-position: top 50% left 0px;
    }

    .about-section {
        padding: 65px 0 85px;
    }

    .form_group-title {
        font-size: 22px;
        line-height: 24px;
    }

    .checkboxes-box {
        flex-wrap: wrap;
        gap: 30px;
    }

    .form_group-checkbox {
        width: 100%;
    }

    .form-btn {
        width: 100%;
        margin: 0 auto;
    }

    .cta_section .body_title {
        margin-bottom: 75px;
    }

    .body_title,
    .body_title.underlined {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .reviews_content {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 550px) {

    .form_section {
        padding: 20px 0;
    }

    .grid_4 {
        grid-template-columns: auto auto;
    }

    .form_line {
        flex-wrap: wrap;
    }

    .form_line>*+* {
        margin: 0;
    }

    .form_line input {
        width: 100%;
    }

    #name-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .gold-btn {
        width: 100%;
    }

    .cta_section {
        padding: 100px 0;
    }

    .body_title {
        font-size: 31px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    .cta_img-box {
        width: 60px;
    }

    .cta_content {
        margin-top: 20px;
    }

    .cta_section .body_subtitle {
        bottom: -40px;
    }

}

@media screen and (max-width: 500px) {

    .scroll-link {
        right: 10%;
    }

    .header_nav-contact-link.sec {
        display: none;
    }

    .form_bottom {
        flex-wrap: wrap;
    }

    .form_bottom .red-btn,
    .form_bottom-phone-box {
        width: 100%;
        margin-left: 0;
    }

    .form_bottom-phone-box {
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .grid_6 {
        grid-template-columns: auto auto;
        column-gap: 15px;
        row-gap: 15px;
    }

    .hero_content-subtitle {
        font-size: 20px;
    }

    .hero_content-title {
        font-size: 46px;
        line-height: 50px;
    }



    .grid_4 {
        grid-template-columns: auto;
    }

    .grid_3 {
        grid-template-columns: auto;
    }

    .types_grid-card-content {}

}

@media screen and (max-width: 450px) {

    .banner_section {
        padding: 50px 0;
    }

    .banner_section hr {
        display: none;
    }

    .about_grid-card p {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 425px) {
    .tariff_form {
        padding: 20px;
    }

    .nav-mobile_ul {
        .primary-btn {
            width: 100%;
        }
    }

    .certs-dots-mobile {
        margin-top: 35px;
    }

    .slider-wrap {
        margin-bottom: 35px;
    }

    .about_section button {
        width: 100%;
    }

    .form_section .form {
        padding: 60px 20px;

        button {
            width: 100%;
        }
    }

    .scroll-link {
        right: 10px;
    }

    .fixed-links-box {
        right: 5px;
    }

    .fixed-link {
        width: 35px;

        &:last-child {
            margin-top: 10px;
        }
    }

    .ceilings_content-float-box img {
        margin-bottom: -200px;
    }

    .ceilings_content-float-text {
        padding: 230px 20px 46px;
    }

    .about_grid-card-title {
        font-size: 16px;
        line-height: 20px;
    }

    .serts_section .slick-current.slick-active img {
        margin-right: -30px;
    }

    .serts_section .slick-active img {
        margin-left: -30px;
    }

    .header_nav-ul {
        gap: 10px;
    }

    .header_nav-ul a {
        font-size: 12px;
    }

    .banner_ladder p {
        font-size: 30px;
    }

    .banner_ladder p:nth-child(2) {
        margin-left: 50px;
    }

    .banner_ladder p:nth-child(3) {
        margin-left: 100px;
    }

    .header_nav-contact-link {
        display: none;
    }
}

@media screen and (max-width: 360px) {



    .contacts_content-wa-box {
        width: 90%;
    }
}